<div class="my-container p-4">
    <div class="w-10/12 mx-auto">
        <h1 class="text-main text-3xl font-medium ">{{'login.Login Now'|translate}}:</h1>
        <form class="w-8/12 mx-auto my-8" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">



            <div class="mb-6 relative">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'login.email'|translate}}</label>
                <input formControlName="email" type="email" id="email" aria-describedby="email-explanation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">




            </div>







            <div class="mb-6 relative">
                <label for="password"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'login.password'|translate}}</label>
                <input formControlName="password" type="password" id="password" aria-describedby="password-explanation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">



            </div>

            <div class="text-end">
                @if (errorMsg) {
                <div class="py-2 my-3 bg-red-300 text-center rounded-lg">
                    <p class="font-bold py-2">{{errorMsg}}</p>
                </div>
                }@else {}
                <a class=" mr-3 p-3 text-main " routerLink="/forgetpassword">{{'login.Forget Password'|translate}}</a>
                <button [disabled]="loginForm.invalid || isLoading " type="submit" class="btn-main">{{'login.login'|translate}}
                    @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                    }

                </button>
            </div>

        </form>
    </div>


</div>