<div class="my-container p-4">
    <div class="w-10/12 mx-auto">
        <h1 class="text-main text-3xl font-medium ">{{'forgetpass.Forget Password'|translate}}</h1>
        @if (stage == 1)
        {
        <form class="w-8/12 mx-auto my-8 " [formGroup]="forgetPassword" (ngSubmit)="forgetPasswordFunc()">
            <div class="mb-6 relative">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'forgetpass.email'|translate}}</label>
                <input formControlName="email" type="email" id="email" aria-describedby="email-explanation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            </div>
            <div class="text-end">
                @if (successMsg ) {
                <div class="py-2 my-3 bg-green-300 text-center rounded-lg">
                    <p class="font-bold py-2">{{successMsg}}</p>
                </div>
                }@else if (errorMsg ) {

                <div class="py-2 my-3 bg-red-300 text-center rounded-lg">
                    <p class="font-bold py-2">{{errorMsg}}</p>
                </div>
                }
                <button [disabled]="forgetPassword.invalid || isLoading " type="submit" class="btn-main">{{'forgetpass.Send Code'|translate}}
                    @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                    }

                </button>
            </div>
        </form>

        }

        @if (stage == 2) {
        <form class="w-8/12 mx-auto my-8 " [formGroup]="resetCode" (ngSubmit)="resetCodeFunc()">
            <div class="mb-6 relative">
                <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'forgetpass.Verify Code'|translate}}</label>
                <input formControlName="resetCode" type="text" id="resetCode" aria-describedby="resetCode-explanation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            </div>
            <div class="text-end">

                @if (errorMsg) {

                <div class="py-2 my-3 bg-red-300 text-center rounded-lg">
                    <p class="font-bold py-2">{{errorMsg}}</p>
                </div>
                }
                <button [disabled]="resetCode.invalid || isLoading " type="submit" class="btn-main">{{'forgetpass.Verify Code'|translate}}
                    @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                    }

                </button>
            </div>
        </form>
        }


        @if (stage == 3){
        <form class="w-8/12 mx-auto my-8 " [formGroup]="resetPassword" (ngSubmit)="resetPasswordFunc()">
            <div class="mb-6 relative">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'forgetpass.Verify Email'|translate}}</label>
                <input readonly formControlName="email" type="email" id="email" aria-describedby="email-explanation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            </div>
            <div class="mb-6 relative">
                <label for="newPassword"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'forgetpass.newPassword'|translate}}</label>
                <input formControlName="newPassword" type="password" id="newPassword"
                    aria-describedby="newPassword-explanation"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            </div>
            <div class="text-end">

                @if (errorMsg) {

                <div class="py-2 my-3 bg-red-300 text-center rounded-lg">
                    <p class="font-bold py-2">{{errorMsg}}</p>
                </div>
                }
                <button [disabled]="resetPassword.invalid || isLoading " type="submit" class="btn-main">{{'forgetpass.Confirm Reset'|translate}}
                    @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                    }

                </button>
            </div>
        </form>
        }

    </div>


</div>