<section class="w-2/3 m-auto">
    <div class="grid md:grid-cols-3 gap-5  sm:grid-cols-1 ">
        @for (category of categoryList(); track category._id) {

        <div class="product cursor-pointer">
            <div>
                <img [src]="category.image" [alt]="category.name" class="w-full h-[400px] bg-cover">
            </div>

            <div class="text-center py-4">
                <h2 class="text-main font-bold text-3xl">{{category.name}}</h2>
            </div>
        </div>


        }
    </div>
</section>